@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,600,700&subset=cyrillic');


body
{
    background-color: #EDEDED;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;  /* semi-bold; */
}

#logo
{
    color: #626262;
    font-size: 18px;
    margin-left: -3px;
    line-height: 25px;
}

.wrapper 
{
    margin: 38px 114px auto 28px;
}

#line
{
    background-color: #8C8C8C;
    width: 64px;
    height: 1px;
    margin-top: 26px;
}

.title
{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #484545;

}

.text
{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9A9A9A;
}
    

ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
  }

a {
    text-decoration: none;
    color: #302E2E;
    font-size: 18px;
    font-weight: 500;
  }

.menu__item {
    float:left; 
    margin-right:40px; 

  }

  .header__wrapper
  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  #menu
  {
      margin-top: 11px;
      margin-right:-40px;
  }

  .sub__menu
  {
    position: absolute;
    box-sizing:border-box;
    width: 214px;
    height: 79px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    display: none;
}

.sub__menu__item
{
    margin-top: 10px;
    margin-left: 37px;
}
 
#components:hover .sub__menu
{
    display: block;
}

.container
{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 33px;
    margin-bottom: 0;
}

.left_menu
{

    /* display: block; */
    background: #F8F8F8;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
    width: 357px;
/* background-color: #9A9A9A; */
}

.content
{
    display: block;
    padding: 25px ;
    width: auto;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    box-sizing:border-box;
}

.search
{
    width: 305px;
    height: 31px;
    background: #E3E3E3;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 27px 25px 24px 25px ;
    padding: 3px 30px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
box-sizing: border-box;
color: #000000;
border: 0px;
}

INPUT:focus { 
    outline: none;
   }

.img_copy
{
    margin-left: 18px;
}

.button
{
    background-color: #00B98A;
    color: #FFFFFF;
    width: 170px;
    height: 39px;
    border-radius: 4px;
    padding: 9px 16px;
    box-sizing:border-box;
    margin-top: 23px;
}

.line
{
    border-bottom: 1px solid #A7A7A7;
    /* border-top: 1px solid black; */
    margin:32px -25px 0 -25px;

}

.code_block
{
    background-color: #F5F5F5;
    width: 1487px;
    height: auto;
    padding: 5px;
    margin-top: 25px;
}

.code
{
    font-family:Consolas, monospace;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;

}

.red
{
    color:#E24A68;
}

.blue
{
    color:#1673B1;
}

.green
{
    color:#669900;
}

.purple
{
    color:#990079;
}

.sub_title
{
    margin-top: 26px;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #444444;
}

.code_title
{
    margin-top: 21px;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}



   .vertmenu {
    margin: 0 28px 24px 28px;
    }
    .vertmenu ul {
    list-style: none;
    }
    .vertmenu ul li {
    position: relative;
    line-height: 30px; 
    }
    .vertmenu ul li li {
    /* padding-left:20px; */
    }


    .vertmenu .subCat, .chka {
    top: 0;
    right: 0px;
    position: absolute;
    cursor: pointer;
    }

    .vertmenu .subCat.plus,
    .chka:before,
    .vertmenu .subCat.minus,
    .subCat:checked + .chka:before {
        background: url('polygon_left_menu_open.svg') no-repeat;
    content: '&#9660';
    /* image: url("polygon_left_meny.svg"); */
    /* font-family: Courier;    */
    }



    .vertmenu .subCat.minus, .subCat:checked + .chka:before {
    content: '-';
    }

    .vertmenu > ul > li ul {
    display: none;
    }
    .vertmenu > ul > li a.active + span + ul {
    display: block !important;
    }
    .vertmenu > ul > li .subCat:checked ~ ul {
    display: block !important;
    }
    .vertmenu input[type=checkbox].subCat {
    display:none;
    }

    /* #atom:checked
    {
background: url(polygon_left_menu_open.svg) no-repeat;
    }
    #atom
    {
background: url(polygon_left_menu_closed.svg) no-repeat;
    } */

    .menu_title
    {
        font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 45px;
color: #00B98A;
    }


    .menu_sub_title
    {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 50px;
        color: #000000;

    }

    .menu_options
    {
        font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
padding-left:20px;

color: #484545;
    }